
.m-logo{
    display:block;
    height:33px;
    width:246px;
    text-indent:-9999px;
    @extend %iconsSprite;
    background-position:0 -76px;
    margin:0 auto 36px;
}

.m-game-wrapper{
    text-align:center;
}

.m-board{
    display:none;
    overflow:hidden;
    width:60%;
    margin:0 auto;
    @include box-shadow(rgba(0, 0, 0, 0.3) 0 3px 10px);
    .m-column{
        float:left;
        width:$colwidth + 20px;
        padding:0;
        margin:0;
        @extend %noiseYellowBackground;
        .m-row{
            position:relative;
            @include box-sizing(border-box);
            padding:20px;
            margin:10px;
            width:$colwidth;
            height:$colwidth;
            background:#0d0d00;
            @include border-radius(4em);
            list-style:none;
            text-indent:-999px;
            &:before{
                content:"";
                position:absolute;
                top:0;
                left:0;
                height:90%;
                width:90%;
                margin:5%;
                @include border-radius(4em);
                @include background-image(linear-gradient(right top, transparent, #333326));
            }
        }
    }
    .m-zones{
        @include clearfix;
        padding:0;
        margin:0;
        .m-zone{
            float:left;
            @include box-sizing(border-box);
            width:$colwidth + 20px;
            height:25px;
            border-right:1px solid $borderColor;
            border-top:1px solid $borderColor;
            border-bottom:1px solid $borderColor;
            background:#efefef;
            list-style:none;
        }
        .m-zone:first-child{border-left:1px solid $borderColor;}
    }
}

.m-player-zone{
    width:20%;
    &.l-left{
        float:left;
        text-align:left;
        .m-disc{
            float:left;
        }
    }
    &.l-right{
        float:right;
        text-align:right;
        .m-disc{
            float:right;
        }
    }
}

.m-disc{
    z-index:1000;
    position:relative;
    @include box-sizing(border-box);
    padding:20px;
    margin:0 10px 10px 0;
    width:$colwidth;
    height:$colwidth;
    background:#0d0d00;
    @include border-radius(4em);
    list-style:none;
    //text-indent:-999px;
    color:#fff;
    &:before{
        content:"";
        position:absolute;
        top:0;
        left:0;
        height:90%;
        width:90%;
        margin:5%;
        @include border-radius(4em);
        //@include background-image(linear-gradient(transparent, #333326));
    }
}




.m-field-container{
    padding:2px 0;
    margin-bottom:12px;
    input{
        width:100%;
        margin-bottom:4px;
    }
    &.l-large{
        width:100%;
    }
    &.l-small{
        width:48%;
        &.l-fright{
            input,label{}
        }
    }
}


.m-player{
    margin:0 40px;
    width:150px;
    text-align:center;
    .player-icon{
        margin-bottom:3px;
        height:120px;
        border:1px solid $borderColor;
    }
    .player-name{}
    .modal &{
        &.l-first{
            float:left;
        }
        &.l-second{
            float:right;
        }
    }
}


.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
    &.fade{opacity: 0;}
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1050;
    width: 488px;
    padding:24px;
    margin: -250px 0 0 -274px;
    @extend %noiseGreyBackground;
    border: 1px solid rgba(0, 0, 0, 0.3);
    @include box-shadow(rgba(0, 0, 0, 0.3) 0 3px 7px);
    -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
    .modal-header{
        position:relative;
        @extend %noiseYellowBackground;
        @include box-shadow(rgba(0, 0, 0, 0.15) 0 3px 7px);
        padding:6px 0;
        margin:0 -40px 36px;
        text-align:center;
        h1{
            margin:0;
            font:{
                size:24px;
                weight:normal;
                style:italic;
            }
        }
        &:before, &:after{
            position:absolute;
            content:"";
            width:0;
            height:0;
            bottom:-16px;
        }
        &:before{
            left:-1px;
            border-top:8px solid rgba(0,0,0,0.6);
            border-right:8px solid rgba(0,0,0,0.6);
            border-bottom:8px solid transparent;
            border-left:8px solid transparent;
        }
        &:after{
            right:-1px;
            border-bottom:8px solid transparent;
            border-right:8px solid transparent;
            border-top:8px solid rgba(0,0,0,0.6);
            border-left:8px solid rgba(0,0,0,0.6);
        }
    }
    .modal-footer{
        padding:24px 0 6px 0;
        border-top:1px solid $borderColor;
    }
    .modal-body {
        overflow-y: auto;
        min-height:180px;
        max-height: 400px;
    }
    small{font-size:12px;}
    &#modal-features{
        .modal-body {
            max-height: 800px;
        }
    }
}


.m-slider {
    position:relative;
    margin: 0;
    padding: 0;
    background-color:#ffffbb;
    ul, ol{padding:0;}
    li{
        list-style:none;
        margin:0;
        padding:0;
    }
    .slides{
        >li {
            display: none;
            width:100%;
            -webkit-backface-visibility: hidden;
        } /* Hide the slides before the JS is loaded. Avoids image jumping */
        img {width: 100%; display: block;}
        &:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
        html[xmlns] & {display: block;} 
        * html & {height: 1%;}
    }
    .flex-control-nav{
        overflow:hidden;
        li {
            float:left;
        }
        a{
            cursor:pointer;
        }
    }
    .flex-direction-nav{
        overflow:hidden;
        .flex-prev{
            float:left;
            background:red;
        }
        .flex-next{
            @extend .flex-prev;
            float:right;
        }
    }
}