
.m-disc{
    &[data-player="1"]{
        background-color:$player1color;
        &.ui-draggable-disabled{
            background-color:$player1colordisabled
        }
    }
    &[data-player="2"]{
        background-color:$player2color;
        &.ui-draggable-disabled{
            background-color:$player2colordisabled
        }
    }
    &[data-draggable]{
        cursor:pointer;
        &.ui-draggable-dragging{}
        &.ui-draggable-disabled{
            cursor:default;
        }
    }
}

.m-zone{
    &.s-active{
        background-color:#f5f566!important;
    }
    &.s-hover{
        border-style:dotted!important;
    }
}