
.m-disc{
    &[data-player="1"]{
        background-color:$player1color;
        &:before{@include background-image(linear-gradient(#fe3232, $player1color)); }
    }
    &[data-player="2"]{
        background-color:$player2color;
        &:before{@include background-image(linear-gradient(#3232fe, $player2color)); }
        
    }
    &[data-draggable]{
        cursor: -webkit-grab; cursor: -moz-grab;
        &.ui-draggable-dragging, &:active{cursor: -webkit-grabbing; cursor: -moz-grabbing;}
        &.ui-draggable-disabled{
            cursor:default;
        }
    }
    &.ui-draggable-disabled{
        opacity:0.3;
    }
}

.m-zone{
    &.s-active{
        background-color:#ffff00!important;
    }
    &.s-hover{
        background-color:#efefef!important;
    }
}