//- Modal to define size of the board
#modal-new-game.modal.fade.hide
    .modal-header
        h1 Choose a name
    .modal-body
        .m-field-container.l-large
            input#js-field-name(type="text", maxlength="25",autofocus="autofocus", tabindex="1", name="username")
            label(for="js-field-name") Name

    .modal-footer
        button#js-step-1.m-button.i.i-fw.i-right.l-fright(tabindex="4") Next

//- Modal when waiting for a player
#modal-waiting.modal.fade.hide
    .modal-header
        h1#js-waiting-title Waiting for your opponent
    .modal-body

        .m-player.l-first.l-fleft
            .silouette.s-faded
            .player-name#js-username-1
                .m-icon.i.i-waiting &nbsp;

        .m-player.l-second.l-fright
            .silouette.s-faded
            .player-name#js-username-2
                .m-icon.i.i-waiting &nbsp;

        .m-field-container.l-small.l-fleft.js-fields-board-size
            input#js-field-columns(type="number", min="4", max="8", value="6", tabindex="2")
            label(for="js-field-columns") Columns
        .m-field-container.l-small.l-fright.js-fields-board-size
            input#js-field-rows(type="number", min="4", max="8", value="5", tabindex="3")
            label(for="js-field-rows") Rows

    .modal-footer
        button#js-step-2.m-button.i.i-fw.i-right.l-fright.l-grey.l-disabled Next


//- Modal when requirements are not met
#modal-support.modal.fade.hide
    .modal-header
        h1 Sorry, we are not supporting your browser yet!
    .modal-body
        p.l-tcenter Please use the latest version of Chrome<br/><br/>
            a(href="https://www.google.com/intl/en/chrome/browser/", target="_blank")
                img(src="/images/l-chrome.png")<br/>



//- Modal for showing the technologie
#modal-features.modal.fade.hide
    .modal-header
        h1 What we used
    .modal-body
        #js-features-slider.m-slider
            ul.slides
                li
                    img(src="/images/slide-node.jpg")
                li
                    img(src="/images/slide-express.jpg")
                li
                    img(src="/images/slide-jade.jpg")
                li
                    img(src="/images/slide-mongodb.jpg")
                li
                    img(src="/images/slide-socketio.jpg")
                li
                    img(src="/images/slide-sass_compass.jpg")
                li
                    img(src="/images/slide-html5.jpg")


//- Modal when waiting for a player
#modal-winner.modal.fade.hide
    .modal-header
        h1 Winner
    .modal-body
        .m-player.l-first
            .silouette

        #js-winner-name.h3.l-tcenter

    .modal-footer
        button.m-button.i.i-restart(data-target='#modal-new-game') Start again
        button#js-view-score.m-button.i.i-trophy(data-target='#modal-topscore') View top score


//- Modal when waiting for a player
#modal-topscore.modal.fade.hide
    .modal-header
        h1 Top score
    .modal-body
        table#js-winner-board
            thead
                tr
                    td.player1
                        .m-player.l-small.l-first
                            .silouette
                    td.player2
                        .m-player.l-small.l-second
                            .silouette
            tbody
                //Loop here
                tr
                    - each game in leaderBoard
                        - if (game.winner == game.players[0])
                            td.player1.s-winner #{game.players[0]}
                            td.player2 #{game.players[1]}
                        - else
                            td.player1 #{game.players[0]}
                            td.player2.s-winner #{game.players[1]}
                //End loop here


    .modal-footer
        button.m-button.i.i-restart.l-fright(data-target='#modal-new-game') Start again