//- Modal to define size of the board
#modal-new-game.modal.fade.hide
    .modal-header 
        h1 Choose a name
    .modal-body
        .m-field-container.l-large
            input#js-field-name(type="text", maxlength="25",autofocus="autofocus", tabindex="1", name="username")
            label(for="js-field-name") Name

    .modal-footer
        button#js-view-score.m-button.i.i-trophy(data-target='#modal-topscore') View top score
        button#js-step-1.m-button.i.i-fw.i-right.l-fright(tabindex="4") Next
            //.l-grey.l-disabled

//- Modal when waiting for a player
#modal-waiting.modal.fade.hide
    .modal-header 
        h1 Waiting for your opponent
    .modal-body

        .m-player.l-first
            .player-icon
                .silouette
            .player-name#js-username-1 
                .m-icon.i.i-waiting &nbsp;

        .m-player.l-second
            .player-icon
                .silouette
            .player-name#js-username-2 
                .m-icon.i.i-waiting &nbsp;

        .m-field-container.l-small.l-fleft.js-fields-board-size
            input#js-field-columns(type="number", min="4", max="8", value="6", tabindex="2")
            label(for="js-field-columns") Columns
        .m-field-container.l-small.l-fright.js-fields-board-size
            input#js-field-rows(type="number", min="4", max="8", value="5", tabindex="3")
            label(for="js-field-rows") Rows

    .modal-footer
        button#js-step-2.m-button.i.i-fw.i-right.l-fright.l-grey.l-disabled Next


//- Modal when requirements are not met
#modal-support.modal.fade.hide
    .modal-header 
        h1 Sorry, we are not supporting your browser yet!
    .modal-body
        p.l-tcenter Please use the latest version of Chrome<br/><br/>
            a(href="https://www.google.com/intl/en/chrome/browser/", target="_blank")
                img(src="/images/l-chrome.png")<br/>



//- Modal for showing the technologie
#modal-features.modal.fade.hide
    .modal-header 
        h1 What we used
    .modal-body 
        #js-features-slider.m-slider
            ul.slides
                li Node.js
                li MongoDB
                li Express and Jade
                li Sass & Compass
                li Websockets


//- Modal when waiting for a player
#modal-winner.modal.fade.hide
    .modal-header 
        h1 Winner
    .modal-body

    .modal-footer
        button.m-button.i.i-restart(data-target='#modal-new-game') Start again
        button.m-button.i.i-info.l-small.l-fright(data-target='#modal-features') Informations


//- Modal when waiting for a player
#modal-topscore.modal.fade.hide
    .modal-header 
        h1 Top score
    .modal-body

    .modal-footer
        button.m-button.i.i-restart(data-target='#modal-new-game') Start again