.container
    header.hdr
        h1= title
        p Welcome to #{title} TEST2

    //input#myfield(type="text")
    //a#send(href="#") Send
    //p#cnt.m-chat This is gonna be replaced

    .content
        .m-player-zone.l-left.l-red Red Zone
            .m-disc(data-draggable="true") Drag
            .m-disc(data-draggable="true") Drag
            .m-disc(data-draggable="true") Drag
        .m-player-zone.l-right.l-black Black Zone
            .m-disc(data-draggable="true") Drag
            .m-disc(data-draggable="true") Drag
            .m-disc(data-draggable="true") Drag

        #game.m-board
        #infos
            span X:
            #x
            span Y:
            #y

        a#js-generate-board.m-button(href="#") New Game

    #modal-new-game.modal.fade.hide
        .modal-header 
            h1 Create a new game
        .modal-body This is my modal 
            p
                //a#js-generate-board.m-button(href="#") New Game
        .modal-footer