
script(type="text/javascript")


div.container
    header.hdr
        h1= title
        p Welcome to #{title}

    //input#myfield(type="text")
    //a#send(href="#") Send
    //p#cnt.m-chat This is gonna be replaced

    #game.m-board
    a#js-newgame.m-button(href="#") New Game