/* -Variables -------------------------------------------------------- */
    $player1color: rgba(255, 0, 0, 1);
    $player1colordisabled: rgba(255, 0, 0, 0.3);

    $player2color: rgba(0, 0, 0, 1);
    $player2colordisabled: rgba(0, 0, 0, 0.3);

    $baselinksColor: rgba(0, 0, 0, 1);
    $baselinksColorHover: rgba(255, 0, 0, 1);

/* -Requirements ----------------------------------------------------- */
    @import "compass/css3";
    @import "compass/css3/transition";
    @import "compass/typography/links";
    @import "compass/utilities/general/clearfix";

/* -Normalize -------------------------------------------------------- */
    @import "inc/normalize";

/* -Base Rules ------------------------------------------------------- */
    @import "inc/base";

/* -Buttons ---------------------------------------------------------- */
    @import "inc/buttons";

/* -Layout Rules ----------------------------------------------------- */
    @import "inc/layout";

/* -Modules Rules ---------------------------------------------------- */
    @import "inc/modules";

/* -States Rules ----------------------------------------------------- */
    @import "inc/states";

/* -Animations Rules ------------------------------------------------- */
    @import "inc/anim";

/* -Responsivness ---------------------------------------------------- */
    @import "inc/768-max";

/* -Helpers ---------------------------------------------------------- */
    @import "inc/helpers";